{{>navbar}}
<div class="container new">
  <h1>hello world</h1>

</div>

<div class="container ">
  <img src="/img/cat1" alt="Cute cat">

</div>
<div class="container ">
   

</div>

<div class="container ">
  <img src="/img/cat2" alt="Cute cat">

</div>

<div class="entry">
    {{#if message }}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
</div>
