{{>navbar}}
<div class="container new">
  <h1>hello world</h1>

</div>

<div class="entry">
    {{#if message }}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
</div>



{{>signup}}
