<div class="container">
  <div class="entry">
      {{#if message }}
        <div class="alert alert-danger">
          {{message}}
        </div>
      {{/if}}
  </div>
    <div class="row">
        <form class="" action="/login" method="post">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                    <h4>Welcome back.</h4>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" name="email" />
                    </br>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" name="password" />
                    </br>
                    <div class="wrapper">
                        <button type="submit" class="btn btn-primary">login</button>
                        <a href="/signup">signup</a>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>
