<form id = "uploadForm" enctype="multipart/form-data" action="/image" method="post">
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="file" class="form-control" id="formGroupExampleInput" placeholder="Example input" name="images">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="submit" class="form-control"  value="Upload Image" name="submit" placeholder="Another input">
  </div>
</form>
